* {
    background-color: #ADDED6;
}


header, main, footer {
    display: inline-block;
}


h2 {
    text-align: center;
}


section {
    width: 52%;
	height: 600px;
	margin: auto;
    padding: 10px 10px 10px;
    vertical-align: top;
    font-family: serif;
}

section h1 {
    vertical-align: top;
    text-align: center;
}

section ul li {
    display: inline-block;
}

.title {
    margin: auto;
}

.blog_side_image {
    margin: auto;
    width: 150px;
    padding-top: 150px;
}

pre {
    font-weight: bold;
    font-size: 16;
}