* {
    background-color: #ADDED6;
}

header, nav, section, aside, .button, footer {
    display: inline-block;
}

header {
    float: top;
    text-align: center;
    width: 1095px;
    height: 45px;
    font: bold 20pt;
    
}

nav {
    margin: 0px 25px 0px 25px;
    width: 120px;
    height: 400px;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 25px;
    color: #003533;
    font-family: serif;
    font-style: bold;
    background-color: #B7CC7B;
}

nav li {
    list-style-type: none;
    margin-top: 30px;
    text-align: center;
}

.navlink {
    background-color: #B7CC7B;
    text-align: center;
}

.navlink:link {
    color: #003533;
}


.navlink:hover {
    color: black;
}

.navlink:visited {
    color: #24AD7B;
}


section {
    width: 52%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
    /*padding: 10px 10px 10px;*/
    /*vertical-align: top;*/
    font-family: serif;

}

section h1 {
    vertical-align: top;
    text-align: center;
}

ul li {
    list-style: none;
    display: inline-block;
}


.button {
    height: 20px;
    width: 200px;
    background: #D6F5EA;
    border: 2px solid #003533;	
    color: #003533;
    font-family: serif;
    border-radius: 20px;
    font-size: 12pt;
    margin: 20px 30px 0px 70px;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto*/
}

a.button {
    text-decoration: none;
    text-align: center;
    
}

.intro {
    margin: auto;
    width: 200px;
    height: 400px;
    background-color: #003533;
    font-family: serif;
    
}

.index_image {
    margin: auto;
    width: 200px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

aside h2 {
    background-color: #003533;
    color: white;
    text-align: center;
}


aside p {
    background-color: #003533;
    color: white;
    text-align: center;
    text-wrap: normal;
    width: 140px;
    margin: 30px;
    font-size: 13px;

}

img  {
    image-orientation: center;
    margin: 5px 20px;
}

footer {
    float: bottom;
    text-align: center;
    width: 1095px;
    
}

footer {
    
}
